
.main {
  width: 100%;
  min-height: 500px;
  padding: 10px 20px;
  display: flex; 
}

.content {
  flex: 1;
}

.container {
  padding-top: 70px;
  padding-left: 200px;
}

.keyframe-row {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}
.keyframe-grid{
  display: grid;
  grid-template-columns: auto auto auto;
}

.keyframe-container {
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.image-box{
  position: relative;
  width: 400px;
  height: 224px;
}

.keyframe-container img {
  width: 400px;
  height: 224px;
  max-width: 400px;
  max-height: 224px;
  height: auto;
  cursor: pointer;
}

.bounding-boxes {
  position: relative;
  z-index: 2;
}

.bounding-box {
  position: absolute;
  border: 2px solid red; /* Change the color and style as needed */
  pointer-events: none; /* Prevent bounding boxes from blocking interactions with images */
}

.keyframe-container a {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.keyframe-container:hover a {
  display: flex;
}

.keyframe-info {
  display: flex;
  align-items: center;
}

.keyframe-info span {
  font-size: 14px;
  margin-right: 20px;
}


.search-box {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  transition: 0.8s;
}

.search-box:focus-within > .search-input {
  border-bottom: 2px solid #000;
}

.search-box .search-input {
  background: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
  width: 800px;
  line-height: 35px;

  max-width: 700px;
}

.search-box .search-btn .fas {
  color: #5cbdbb;
}
